body {
  box-sizing: border-box;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.main-container {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cell {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.cell-5, .cell-8, .cell-4, .cell-6, .cell-7, .cell-9 {
  border-top: 3px solid #333333;
}

.cell-2, .cell-5, .cell-8 {
  border-left: 3px solid #333333;
  border-right: 3px solid #333333;
}



