body {
  box-sizing: border-box;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}

.container {
  width: 450px;
  height: 650px;
  display: flex;
  flex-direction: column;
}

.main-container {
  width: 100%;
  height: 450px;
  border-radius: 10px;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  animation: popup 1s;
}

.win-container {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
}

.start-game-container {
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.start-game-container > p {
  font-size: 3rem;
}

.select-buttons {
  height: 25%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.select-btn {
  font-size: 1.2rem;
  height: 70px;
}

.selected {
  border: solid 2px #1f1f1f;
  background: #1f1f1f;
  color: #fff;
}

.start-button {
  width: 95%;
  display: flex;
  justify-content: center;
}

.win-container > p {
  text-align: center;
  font-size: 2rem;
}

.winner-message {
  height: 50px;
  width: 100%;
  margin-top: 45px;
}

button {
  align-self: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
  border: solid 2px #1f1f1f;
  font-size: 2rem;
  width: 90%;
  height: 100px;
  background: transparent;
  color: #1f1f1f;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

button:hover {
  border: solid 2px #1f1f1f;
  background: #1f1f1f;
  color: #fff;
}

button:active {
  transform: scale(0.96);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

img {
  animation: popup 1s;
  width: 80%;
  height: 80%;
}

@keyframes popup {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.cell-5,
.cell-8,
.cell-4,
.cell-6,
.cell-7,
.cell-9 {
  border-top: 3px solid #333333;
}

.cell-2,
.cell-5,
.cell-8 {
  border-left: 3px solid #333333;
  border-right: 3px solid #333333;
}

@media screen and (max-width: 550px) {
  .container {
    width: 95%;
    height: 95%;
  }

  .main-container {
    width: 95%;
    height: 60%;
  }

  .start-game-container > p {
    font-size: 2rem;
  }

  .select-btn {
    font-size: 1rem;
    height: 50px;
  }
}
